@import "~_styles/constants.scss";

%root {
  display: flex;
  margin: 0px $g__margin;
  &>*:not(:last-child) {
    margin-right: $g__gutter;
  }
}

.root_margin_m {
  @extend %root;
  margin-top: g(10);
}

.root_margin_l {
  @extend %root;
  margin-top: g(15);
}