@import "~_styles/constants.scss";

@mixin root {
  display: flex;
  margin: 0 $g__margin;
  & > *:not(:last-child) {
    margin-right: $g__gutter;
  }
}

.root_margin_ {
  &m {
    @include root;
    margin-top: g(10);
  }
  &l {
    @include root;
    margin-top: g(15);
  }
}
