$font__family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font__size_m: 14px;
$font__line-height: 1.5em;

$pl__primary: #6F948A;
$pl__secondary: #877863;
$pl__darkest: #40434A;
$pl__lightest: #F2F2E9;

$text__c: $pl__darkest;

$body__bg: $pl__lightest;

@mixin input {
  border: 1px solid $pl__darkest;
  color: $pl__darkest;
  display: block;
  font-family: $font__family;
  font-size: $font__size_m;
  line-height: $font__line-height;
}

@mixin button {
  color: $pl__lightest;
  background-color: $pl__primary;
  display: block;
  font-family: $font__family;
  font-size: $font__size_m;
  line-height: $font__line-height;
}

* {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  background-color: $body__bg;
  min-width: 960px;
  overflow-x: auto;
  font-family: $font__family;
  font-size: $font__size_m;
  line-height: $font__line-height;
}

// *** *** *** ***
// Auth
// *** *** *** ***

.auth {
  &__input {
    @include input;
  }
  &__button {
    @include button;
  }
}