@import "~_styles/constants.scss";

.root {
  margin-top: g(6);
}

.general {
  display: flex;
}

.title {
  @include font__style_h4;
  flex-shrink: 0;
  line-height: g(6);
}

.dots {
  width: 100%;
  background-image: linear-gradient(to right, $pl__grey_d 16.666666%, transparent 0%);
  background-position: 0px 17px;
  background-size: 6px 1px;
  background-repeat: repeat-x;
  line-height: g(6);
  margin: 0px g(2);
}

.funds {
  @include font__style_h3;
  flex-shrink: 0;
  line-height: g(6);
}

.additional {
  margin-top: g();
  font-weight: 100;
}

.last-operation {
  @include font__style_note;
  margin-top: g();
}

.last-operation-amout {
  color: $pl__secondary;
}