@import "~_styles/constants.scss";

.root {
  margin-top: g(6);
}

.general {
  display: flex;
}

.title {
  @include font__style_h3;
  flex-shrink: 0;
  line-height: g(6);
}

.dots {
  @include dots;
  background-position: 0px 17px;
  line-height: g(6);
}

.funds {
  @include font__style_h3;
  flex-shrink: 0;
  line-height: g(6);
  font-weight: 400;
}

.extra {
  margin-top: g();
  font-weight: 100;
}

.last-operation {
  @include font__style_note;
  margin-top: g();
}

.last-operation-amout {
  color: $pl__secondary;
}