@import "~_styles/constants.scss";

.root {
  @include font__style_p;
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
}

.photo {
  width: 100px;
  height: 100px;
  margin-right: $g__gutter;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
}