@import "constants.scss";

* {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

body {
  @include font__style_body;
  background-color: $pl__white;
  color: $pl__black;
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: $pl__black;
}

input {
  @include font__style_body;
}