// Grid
$g__column: 60px;
$g__gutter: 20px;
$g__margin: 10px;

@function g($times: 1) {
  @return $times * 4px;
}

@function g__width($columns) {
  @return $g__column * $columns + $g__gutter * ($columns - 1);
}

// Palette
$pl__primary: #159AF3;
$pl__secondary: #3EDE02;
$pl__tetriary: #FA0852;

$pl__grey_d4: #272727;
$pl__grey_d3: #4A4A4A;
$pl__grey_d: #B0B0B0;
$pl__grey: #E3E3E3;
$pl__grey_l: #F6F6F6;

$pl__black: #000;
$pl__white: #fff;

// Fonts
$font__lh: 1.2em;

@mixin font__style_body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: $font__lh;
  color: $pl__grey_d4;
}

@mixin font__style_h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: $font__lh;
}

@mixin font__style_h3 {
  font-size: 20px;
  line-height: $font__lh;
}

@mixin font__style_h4 {
  font-size: 18px;
  line-height: $font__lh;
}

@mixin font__style_note {
  font-size: 14px;
  font-weight: 100;
  line-height: $font__lh;
}

@mixin font__style_small-note {
  font-size: 12px;
  line-height: $font__lh;
}

// Other
@mixin dots {
  background-image: linear-gradient(to right, $pl__grey_d 16.666666%, transparent 0%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  width: 100%;
  margin: 0px g(2);
}