@import "~_styles/constants.scss";

.root {
  margin-top: g(6);
}

.general {
  @include font__style_h4;
  display: flex;
}

.title {
  flex-shrink: 0;
  line-height: g(6);
}

.dots {
  @include dots;
  background-position: 0px 17px;
  line-height: g(6);
}

@mixin amount {
  flex-shrink: 0;
  line-height: g(6);
}

.amount_style_ {
  &plus {
    @include amount;
    color: $pl__secondary;
  }
  &minus {
    @include amount;
    color: $pl__tetriary;
  }
  &upcoming {
    @include amount;
    color: $pl__primary;
  }
}

.extra {
  margin-top: g();
  font-weight: 100;
}