@import "~_styles/constants.scss";

.root {
  display: flex;
  justify-content: space-between;
  padding: g(5) $g__margin;
}

.item {
  padding: g(2) g(5);
  &:hover {
    background-color: $pl__grey;;
  }
}